.gallery{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}
.gallery input {
    margin-top: 10px;
}
.gallery button {
    margin-top: 10px;
}
.photos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.photo{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkseagreen;
}
.box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.img{
    width: 100%;


}



